.container {
    max-width: 700px ;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #afcdea;
    border: none;
    padding: 10px 8px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #8bbbe0;
    color: white;
}